<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
   
</head>
<body>
	

    <div id="app">
    	<el-breadcrumb separator="/" class="pageNav">
            <el-breadcrumb-item>基础设置</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/account' }">账号管理</el-breadcrumb-item>
            <el-breadcrumb-item>修改账号</el-breadcrumb-item>
        </el-breadcrumb>

        <el-form :model="formData" :rules="rules" :inline="true" ref="form" label-width="150px" class="formInline">
            <div>
                <el-form-item label="便利店名称" prop="storeName">
                    <el-input v-model="formData.storeName"></el-input>
                </el-form-item>
                <el-form-item label="手机号" prop="phone">
                    <el-input v-model="formData.phone"></el-input>
                </el-form-item>
                <el-form-item label="账号">
                    <el-input :value="formData.phone" disabled></el-input>
                </el-form-item>
            </div>

            <div>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="formData.password"></el-input>
                </el-form-item>
                <el-form-item label="来源" prop="source">
                    <el-select v-model="formData.source" placeholder="请选择" size="small">
                        <el-option label="B2B" value="0"></el-option>
                        <el-option label="其他" value="1"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="WCCS代码/B2B ID" prop="WCCS">
                    <el-input v-model="formData.WCCS"></el-input>
                </el-form-item>
            </div>

            <div>
                <el-form-item label="便利店容量(金额)" prop="moneyCapacity">
                    <el-input v-model="formData.moneyCapacity"></el-input>
                </el-form-item>
                <el-form-item label="便利店容量(箱数)" prop="salesCapacity">
                    <el-input v-model="formData.salesCapacity"></el-input>
                </el-form-item>
            </div>

            <div>
                <el-form-item label="事业部" prop="department">
                    <el-select v-model="formData.department" placeholder="请选择" size="small"
                               @change="onSelectDepartment">
                        <el-option v-for="item in departmentList" :label="item.bu" :value="item.buCode"
                                   :key="item.buCode"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="区域" prop="area">
                    <el-select v-model="formData.area" placeholder="请选择" size="small" @change="onSelectArea">
                        <el-option v-for="item in areaList" :label="item.region" :value="item.regionCode"
                                   :key="item.regionCode"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="城市" prop="city">
                    <el-select v-model="formData.city" placeholder="请选择" size="small" @change="onSelectCity">
                        <el-option v-for="item in cityList" :label="item.area" :value="item.areaCode"
                                   :key="item.areaCode"></el-option>
                    </el-select>
                </el-form-item>
            </div>

            <div>
                <el-form-item label="M3" prop="m3Name">
                    <el-select v-model="formData.m3Name" placeholder="请选择" size="small"
                               @change="onSelectM3(formData.m3Name)" :class="{'setColor':formData.m3Status===1&&formData.m3Name}">
                        <el-option v-for="item in m3List" :label="item.salesmanName" :value="item.salesmanId"
                                   :key="item.salesmanId" :disabled="item.status===1"></el-option>
                    </el-select>
                    <p class="select_txt" v-if="formData.m3Status === 1&&formData.m3Name">该M3已被禁用请更换M3</p>
                </el-form-item>
                <el-form-item label="M2" prop="m2Name">
                    <el-select v-model="formData.m2Name" placeholder="请选择" size="small"
                               @change="onSelectM2(formData.m2Name)"  :class="{'setColor':formData.m2Status===1&&formData.m2Name}">
                        <el-option v-for="item in m2List" :label="item.salesmanName" :value="item.salesmanId"
                                   :key="item.salesmanId" :disabled="item.status===1"></el-option>
                    </el-select>
                    <p class="select_txt" v-if="formData.m2Status === 1&&formData.m2Name">该M2已被禁用请更换M2</p>
                </el-form-item>
                <el-form-item label="M1" prop="m1Name">
                    <el-select v-model="formData.m1Name" :class="{'setColor':formData.m1Status===1&&formData.m1Name}"
                               @change="onSelectM1(formData.m1Name)" placeholder="请选择" size="small">
                        <el-option v-for="item in m1List" :label="item.salesmanName" :value="item.salesmanId"
                                   :key="item.salesmanId" :disabled="item.status===1"></el-option>
                    </el-select>
                    <p class="select_txt" v-if="formData.m1Status === 1&&formData.m1Name">该M1已被禁用请更换M1</p>
                </el-form-item>
            </div>

            <!--<div>-->
                <!--<el-form-item label="M1" prop="m1Name">-->
                    <!--<el-input v-model="formData.m1Name"></el-input>-->
                <!--</el-form-item>-->
                <!--<el-form-item label="M2" prop="m2Name">-->
                    <!--<el-input v-model="formData.m2Name"></el-input>-->
                <!--</el-form-item>-->
                <!--<el-form-item label="M3" prop="m3Name">-->
                    <!--<el-input v-model="formData.m3Name"></el-input>-->
                <!--</el-form-item>-->
            <!--</div>-->

            <!--<div>-->
                <!--<el-form-item label="M1手机号" prop="m1Phone">-->
                    <!--<el-input v-model="formData.m1Phone"></el-input>-->
                <!--</el-form-item>-->
                <!--<el-form-item label="M2手机号" prop="m2Phone">-->
                    <!--<el-input v-model="formData.m2Phone"></el-input>-->
                <!--</el-form-item>-->
                <!--<el-form-item label="M3手机号" prop="m3Phone">-->
                    <!--<el-input v-model="formData.m3Phone"></el-input>-->
                <!--</el-form-item>-->
            <!--</div>-->

            <div>
                <el-form-item label="地址" prop="address">
                    <el-input v-model="formData.address" @blur="codeAddress"></el-input>
                </el-form-item>
                <el-form-item label="经度" prop="longitude">
                    <el-input v-model="formData.longitude" disabled></el-input>
                </el-form-item>
                <el-form-item label="纬度" prop="latitude">
                    <el-input v-model="formData.latitude" disabled></el-input>
                </el-form-item>
            </div>

            <div class="qqMap" ref="qqMap"></div>

            <div class="formBtn">
                <el-button type="primary" @click="submit">提交</el-button>
                <el-button @click="$router.go(-1)">返回</el-button>
            </div>
        </el-form>
  	</div>




	
	
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src='js/jquery.min.js'></script>
	 <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	 <!-- import Vue before Element -->
	  
	  <!-- import JavaScript -->
	  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
	  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	 <script src="http://mockjs.com/dist/mock.js"></script>
	 <script type="text/javascript">
    	
   $(function(){
   		new Vue({
	      el: '#app',
	      data(){
	        let self = this;
	        return {
	            userId: self.$route.params.userId,
	            formData: {
	                storeName: "",          //便利店名称
	                phone: "",              //手机号
	                password: "",           //密码
	                source: "",             //来源
	                WCCS: "",               //代码
	                moneyCapacity: "",      //容量（金额）
	                salesCapacity: "",      //容量（箱数）
	                department: "",
	                area: "",
	                city: "",
	                m1Name: "",
	                m2Name: "",
	                m3Name: "",
	                m1Phone: "",
	                m2Phone: "",
	                m3Phone: "",
	                address: "",            //地址
	                longitude: "",
	                latitude: "",
	                m1Status:"",
	                m2Status:"",
	                m3Status:""
	            },
	
	            rules: {
	                storeName: [{required: true, message: "请输入便利店名称", trigger: "blur"}],
	                phone: [
	                    {required: true, message: "请输入手机号", trigger: "blur"},
	                    {pattern: /^\d{11}$/, message: "请输入正确的号码", trigger: "blur"}
	                ],
	                password: [{required: true, message: "请输入密码", trigger: "blur"}],
	                source: [{required: true, message: "请选择来源", trigger: "blur"}],
	                WCCS: [{required: true, message: "请输入代码", trigger: "blur"}],
	                salesCapacity: [
	                    {required: true, message: "请输入容量", trigger: "blur"},
	                    {pattern: /^\d+$/, message: "请输入正确容量", trigger: "blur"}
	                ],
	                moneyCapacity: [
	                    {required: true, message: "请输入容量", trigger: "blur"},
	                    {pattern: /^\d+$/, message: "请输入正确容量", trigger: "blur"}
	                ],
	                department: [{required: true, message: "请选择事业部", trigger: "blur"}],
	                area: [{required: true, message: "请选择区域", trigger: "blur"}],
	                city: [{required: true, message: "请选择城市", trigger: "blur"}],
	                m1Name: [{required: true, message: "请输入M1姓名", trigger: "blur"}],
	                m2Name: [{required: true, message: "请输入M2姓名", trigger: "blur"}],
	                m3Name: [{required: true, message: "请输入M3姓名", trigger: "blur"}],
	                m1Phone: [
	                    {required: true, message: "请输入M1电话", trigger: "blur"},
	                    {pattern: /^\d{11}$/, message: "请输入正确的号码", trigger: "blur"}
	                ],
	                m2Phone: [
	                    {required: true, message: "请输入M2电话", trigger: "blur"},
	                    {pattern: /^\d{11}$/, message: "请输入正确的号码", trigger: "blur"}
	                ],
	                m3Phone: [
	                    {required: true, message: "请输入M3电话", trigger: "blur"},
	                    {pattern: /^\d{11}$/, message: "请输入正确的号码", trigger: "blur"}
	                ],
	                address: [{required: true, message: "请输入地址", trigger: "blur"}],
	                longitude: "",
	                latitude: ""
	            },
	
	            departmentList: [],
	            areaList: [],
	            cityList: [],
	            m3List:[],
	            m2List:[],
	            m1List:[],
	        }
	    },
	
	    methods: {
	        loadData(){
	            let self = this;
	
	            let postData = self.$qs.stringify({
	                "budUser.userId": self.userId
	            });
	
	            let loading = self.$loading({fullscreen: true});
	            self.$axios.post(self.$api.accountDetail, postData).then(res => {
	                loading.close();
	                if (res.data.opflag) {
	                    let mes = res.data.data;
	                    console.log(res);
	                    self.formData.storeName = mes.userStore;
	                    self.formData.phone = mes.userTel;
	                    self.formData.password = mes.pwd;
	                    self.formData.source = mes.source;
	                    self.formData.WCCS = mes.b2bIdOrWccs;
	                    self.formData.moneyCapacity = mes.amountCapacity.toString();
	                    self.formData.salesCapacity = mes.salesCapacity.toString();
	                    self.formData.department = mes.buCode;
	                    self.formData.m3Status = mes.m3Status;
	                    self.formData.m2Status = mes.m2Status;
	                    self.formData.m1Status = mes.m1Status;
	                    self.formData.address = mes.storeAddress;
	                    self.formData.longitude = mes.longitude;
	                    self.formData.latitude = mes.latitude;
	
	                    map.panTo(new qq.maps.LatLng(self.formData.latitude, self.formData.longitude));
	                    let center = new qq.maps.LatLng(self.formData.latitude, self.formData.longitude);
	                    marker = new qq.maps.Marker({
	                        position: center,
	                        map: map
	                    });
	                    setTimeout(function () {
	                        self.formData.area = mes.regionCode;
	                        setTimeout(function () {
	                            self.formData.city = mes.areaCode;
	                            setTimeout(function () {
	                                // self.formData.m3Name = mes.m3;
	                                self.formData.m3Name = mes.m3Id;
	                                setTimeout(function () {
	                                    // self.formData.m2Name = mes.m2;
	                                    self.formData.m2Name = mes.m2Id;
	                                    setTimeout(function () {
	                                        // self.formData.m1Name = mes.m1;
	                                        self.formData.m1Name = mes.m1Id;
	                                    },0)
	                                },0)
	                            },0)
	                        }, 0)
	                    }, 0);
	                } else {
	                    self.$message({
	                        message: "获取账号数据失败",
	                        type: "error"
	                    });
	                }
	            }).catch(() => {
	                loading.close();
	            });
	        },
	
	        //获取事业部
	        getDepartment(){
	            let self = this;
	
	            self.$axios.get(self.$api.departmentList).then(res => {
	                if (res.data.opflag) {
	                    self.departmentList = res.data.data;
	                } else {
	                    self.$message({
	                        message: "获取事业部失败",
	                        type: "error"
	                    });
	                }
	            }).catch(() => {
	
	            });
	        },
	
	        //获取区域
	        getArea(){
	            let self = this;
	
	            let postData = self.$qs.stringify({
	                "budRegion.buCode": self.formData.department
	            });
	
	            self.$axios.post(self.$api.areaList, postData).then(res => {
	                if (res.data.opflag) {
	                    self.areaList = res.data.data;
	                } else {
	                    self.$message({
	                        message: "获取区域失败",
	                        type: "error"
	                    });
	                }
	            }).catch(() => {
	
	            });
	        },
	
	        //获取城市
	        getCity(){
	            let self = this;
	
	            let postData = self.$qs.stringify({
	                "budRegion.regionCode": self.formData.area,
	            });
	
	            self.$axios.post(self.$api.cityList, postData).then(res => {
	                if (res.data.opflag) {
	                    this.cityList = res.data.data;
	                } else {
	                    self.$message({
	                        message: "获取城市失败",
	                        type: "error"
	                    });
	                }
	            }).catch(() => {
	
	            });
	        },
	
	        //获取M3
	        getM3List(){
	            let self = this;
	
	            let postData = self.$qs.stringify({
	                "budUser.areaCode": self.formData.city
	            });
	
	            self.$axios.post(self.$api.initM3Data, postData).then(res => {
	                console.log(res);
	                if (res.data.opflag) {
	                    self.m3List = res.data.data;
	                } else {
	                    self.$message({
	                        message: "获取M3失败",
	                        type: "error"
	                    });
	                }
	            }).catch(() => {
	
	            });
	        },
	        //获取M2
	        getM2List(){
	            let self = this;
	            let postData = self.$qs.stringify({
	                "budSalesman.role": "M2",       //角色
	                "budSalesman.parentId": self.formData.m3Name    //父类主键
	            });
	
	            self.$axios.post(self.$api.initM2Data, postData).then(res => {
	                if (res.data.opflag) {
	                    self.m2List = res.data.data;
	                } else {
	                    self.$message({
	                        message: "获取M2失败",
	                        type: "error"
	                    });
	                }
	            }).catch(() => {
	
	            });
	        },
	        //获取M1
	        getM1List(){
	            let self = this;
	            let postData = self.$qs.stringify({
	                "budSalesman.role": "M1",       //角色
	                "budSalesman.parentId": self.formData.m2Name    //父类主键
	            });
	
	            self.$axios.post(self.$api.initM2Data, postData).then(res => {
	                if (res.data.opflag) {
	                    self.m1List = res.data.data;
	                } else {
	                    self.$message({
	                        message: "获取M1失败",
	                        type: "error"
	                    });
	                }
	            }).catch(() => {
	
	            });
	        },
	
	        //选择事业部
	        onSelectDepartment(){
	            this.formData.area = "";
	            this.areaList = [];
	            this.formData.city = "";
	            this.cityList = [];
	            this.formData.m3Name = "";
	            this.formData.m2Name = "";
	            this.formData.m1Name = "";
	            this.m3List = [];
	            this.m2List = [];
	            this.m1List = [];
	            this.getArea();
	        },
	
	        //选择区域
	        onSelectArea(){
	            this.formData.city = "";
	            this.cityList = [];
	            this.formData.m3Name = "";
	            this.formData.m2Name = "";
	            this.formData.m1Name = "";
	            this.m3List = [];
	            this.m2List = [];
	            this.m1List = [];
	            this.getCity();
	        },
	
	        // 选择城市
	        onSelectCity(){
	            let self = this;
	            this.formData.m3Name = "";
	            this.formData.m2Name = "";
	            this.formData.m1Name = "";
	            this.m3List = [];
	            this.m2List = [];
	            this.m1List = [];
	            self.getM3List();
	        },
	        //  选择M3
	        onSelectM3(status){
	            let str = 2;
	            let self = this;
	            for(let i=0;i<self.m3List.length;i++){
	                if(self.m3List[i].salesmanId === status){
	                    str = self.m3List[i].status;
	                }
	            }
	            this.formData.m2Name = "";
	            this.formData.m1Name = "";
	            if(str !== 2){
	                this.formData.m3Status = str;
	            }
	            this.m2List = [];
	            this.m1List = [];
	            this.getM2List();
	        },
	        //  选择M2
	        onSelectM2(status){
	            let str = 2;
	            let self = this;
	            for(let i=0;i<self.m2List.length;i++){
	                if(self.m2List[i].salesmanId === status){
	                    str = self.m2List[i].status;
	                }
	            }
	            if(str !== 2){
	                self.formData.m2Status = str;
	            }
	            self.formData.m1Name = "";
	            self.m1List = [];
	            self.getM1List();
	        },
	        //  选择M1
	        onSelectM1(status){
	            let str = 2;
	            let self = this;
	            for(let i=0;i<self.m1List.length;i++){
	                if(self.m1List[i].salesmanId === status){
	                    str = self.m1List[i].status;
	                }
	            }
	            if(str !== 2){
	                self.formData.m1Status = str;
	            }
	        },
	
	
	
	        //配置地图
	        initMap(){
	            let self = this;
	
	            let center = new qq.maps.LatLng(39.916527, 116.397128);
	
	            let options = {
	                zoom: 15,
	                center: center,
	            };
	
	            map = new qq.maps.Map(self.$refs.qqMap, options);
	
	            geocoder = new qq.maps.Geocoder({
	                complete: function (result) {
	                    self.formData.latitude = result.detail.location.lat.toString();
	                    self.formData.longitude = result.detail.location.lng.toString();
	                    map.setCenter(result.detail.location);
	
	                    if (marker) {
	                        marker.setMap(null);
	                    }
	
	                    marker = new qq.maps.Marker({
	                        map: map,
	                        position: result.detail.location
	                    });
	                }
	            });
	
	            qq.maps.event.addListener(map, 'click', function (event) {
	                let center = new qq.maps.LatLng(event.latLng.getLat(), event.latLng.getLng());
	
	                if (marker) {
	                    marker.setMap(null);
	                }
	
	                marker = new qq.maps.Marker({
	                    position: center,
	                    map: map
	                });
	
	                self.formData.latitude = event.latLng.getLat().toString();
	                self.formData.longitude = event.latLng.getLng().toString();
	            });
	        },
	
	        //输入地址
	        codeAddress(){
	            geocoder.getLocation(this.formData.address);
	        },
	
	        submit(){
	            let self = this;
	
	            //表单验证
	            self.$refs.form.validate(valid => {
	                if (!valid) {
	                    return;
	                }
	
	                let postData = self.$qs.stringify({
	                    "budUser.userId": self.userId,
	                    "budUser.userStore": self.formData.storeName,
	                    "budUser.userTel": self.formData.phone,
	                    "budUser.userAccount": self.formData.phone,
	                    "budUser.pwd": self.formData.password,
	                    "budUser.source": self.formData.source,
	                    "budUser.b2bIdOrWccs": self.formData.WCCS,
	                    "budUser.amountCapacity": self.formData.moneyCapacity,
	                    "budUser.salesCapacity": self.formData.salesCapacity,
	                    "budUser.buCode": self.formData.department,
	                    "budUser.regionCode": self.formData.area,
	                    "budUser.areaCode": self.formData.city,
	                    "budUser.M1Id": self.formData.m1Name,
	                    // "budUser.M1": self.formData.m1Name,
	                    // "budUser.M2": self.formData.m2Name,
	                    // "budUser.M3": self.formData.m3Name,
	                    // "budUser.M1Tel": self.formData.m1Phone,
	                    // "budUser.M2Tel": self.formData.m2Phone,
	                    // "budUser.M3Tel": self.formData.m3Phone,
	                    "budUser.storeAddress": self.formData.address,
	                    "budUser.longitude": self.formData.longitude,
	                    "budUser.latitude": self.formData.latitude
	                });
	
	                //显示全屏Loading
	                let loading = self.$loading({fullscreen: true});
	                self.$axios.post(self.$api.accountEdit, postData).then(res => {
	                    loading.close();
	
	                    if (res.data.opflag) {
	                        //保存成功弹出提示弹框
	                        self.$message({
	                            message: "保存成功！",
	                            type: "success"
	                        });
	
	                        //返回列表页
	                        self.$router.push("/account");
	                    } else {
	                        self.$message({
	                            message: res.data.opmessage,
	                            type: "error"
	                        });
	                    }
	                }).catch(() => {
	                    loading.close();
	                })
	            })
	        }
	    },
	
	    mounted(){
	        let self = this;
	        self.loadData();
	        self.getDepartment();
	        self.$nextTick(() => {
	            self.initMap();
	        });
	    }
	      
	})
   		
   	
   	
   	
   });
		    	
    	
    	var obj = {'aa':'11', 'bb':'22', 'cc':'33', 'dd':'44'};

		// Mock响应模板
		Mock.mock('http://test.com', {
		    "user|1-3": [{   // 随机生成1到3个数组元素
		        'name': '@cname',  // 中文名称
		        'id|+1': 88,    // 属性值自动加 1，初始值为88
		        'age|18-28': 0,   // 18至28以内随机整数, 0只是用来确定类型
		        'birthday': '@date("yyyy-MM-dd")',  // 日期
		        'city': '@city(true)',   // 中国城市
		        'color': '@color',  // 16进制颜色
		        'isMale|1': true,  // 布尔值
		        'isFat|1-2': true,  // true的概率是1/3
		        'fromObj|2': obj,  // 从obj对象中随机获取2个属性
		        'fromObj2|1-3': obj,  // 从obj对象中随机获取1至3个属性
		        'brother|1': ['jack', 'jim'], // 随机选取 1 个元素
		        'sister|+1': ['jack', 'jim', 'lily'], // array中顺序选取元素作为结果
		        'friends|2': ['jack', 'jim'] // 重复2次属性值生成一个新数组
		    },{
		        'gf': '@cname'
		    }]
		});
		   	
	    	$.ajax({
			    url: 'http://test.com',
			    type: 'get',
			    dataType: 'json'
			}).done(function(data, status, xhr) {
			    console.log(JSON.stringify(data, null, 4));
			});
		
			document.addEventListener('plusready', function(){
   			//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
   			
   		});
   		
    </script>
</body>
</html>